@import "src/assets/scss/mixins";

.container {
  height: var(--footer-height);
  display: flex;
  border-top: 2px solid var(--white-07);

  @include media-mobile {
    --footer-height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include make-container();

    @include media-mobile {
      flex-direction: column;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    @include media-mobile {
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    & > * + * {
      position: relative;
      --space-y-reverse: 0;
      padding-left: calc(3rem * calc(1 - var(--space-y-reverse)));
      padding-right: calc(3rem * var(--space-y-reverse));

      @include media-mobile {
        padding-left: 0;
        padding-right: 0;
        margin-top: calc(1.5rem * calc(1 - var(--space-y-reverse)));
        margin-bottom: calc(1.5rem * var(--space-y-reverse));
      }

      &::before {
        position: absolute;
        top: 50%;
        margin-top: -1rem;
        left: calc(1.5rem + 1px);
        display: block;
        content: '';
        width: 1px;
        height: 2rem;
        background-color: var(--white-10);

        @include media-mobile {
          display: none;
        }
      }
    }
  }

  .navigation-link {
    @include text-truncate();
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-decoration: none;
    color: var(--white-60);

    @include media-mobile {
      font-size: .875rem;
      line-height: 1.214285;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--white);
    }

    &:hover,
    &:focus {
      color: var(--white);
    }
  }
}
